.gallery {
  list-style-type: none;
  max-width: 1128px;
  height: 648px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 100px auto;
  padding: 0;
  gap: 48px 24px;
}
.gallery li {
  height: 300px;
}
.gallery img {
  display: block;
  object-fit: cover;
}
.basicLightbox {
  background: rgba(46, 47, 66, 0.8);
}
