.gallery {
  list-style-type: none;
  max-width: 1128px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 100px auto;
  padding: 0;
  gap: 48px 24px;
}
.gallery li {
  height: 300px;
}
.gallery img {
  object-fit: cover;
}

@import 'simplelightbox/dist/simple-lightbox.min.css';
