.login-form {
  border-radius: 8px;
  padding: 24px;
  width: 408px;
  height: 256px;
}
label {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
}
.login-form-input {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
}
.login-form-input:hover {
  border-color: #000;
}

.login-form-button {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
  background: #4e75ff;
  border-radius: 8px;
  padding: 8px 16px;
  width: 86px;
  height: 40px;
  margin-top: 16px;
}
.login-form-button:hover {
  background: #6c8cff;
}
